doctype html
html
    head
        title="Hello Pug"
        style 
            include style.css
    body
        div.app
            include ./header.pug
            p Witaj!
            p Logowanie przebiegło pomyślnie.
            p Życzymy udanych zakupów w naszym sklepie!
        